################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Obj
/NetCoreIndicore/Debug
/NetCoreIndicore/Obj
/NetCoreIndicore/NetCoreIndicore.vcxproj.user
/NetCoreIndicore/x64/Debug
/NetCoreIndicore/x64/Obj
/x64/Debug
/x64/Obj
